@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');

/* *,*::before,*::after{
    box-sizing: border-box;
} */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: Museo Moderno, sans-serif;
    background: #f5f5f5;
}

.nav-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 25px;
}

.nav-list li a{

    text-decoration: none;
    color: black;

}

.nav-list li a:hover{

    color: #4b0d35;
}

#more{
    width: fit-content;
    margin-left: 43%;

}

#more a{
    text-decoration: none;
    font-size: 50px;
    color: #49dcfb;
}

#more a:hover{
    color: #939494;
}

.header h1  {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 50px;
    
}

#h1{
    margin-top: 10%;
    font-size: 40px;
}



.main-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15% 0;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background: linear-gradient(to right,#355C7D,#6C5B7B,#C06C84) ;
}

 #par{
    font-size: 24px;
    padding: 0;
    margin-left: 15px;
}

#btn{
    font-size: 20px;
    border: none;
    border-radius: 25px;
    background:linear-gradient(to right,#757F9A,#D7DDE8) ;
    margin-left: 15px;
    padding: 16px 32px;
}

#btn:hover{
    background:linear-gradient(to right,#bdc3c7,#6b6b83,#bdc3c7) ;
}

a{
    text-decoration: none;
    color: inherit;
}

.main-about .bio{
    margin-bottom: 10%;
    margin-left: 10%;
}

.main-about .image{
    padding: 0 10% ;
}

.main-project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;

}

.main-project .desc-project{
    margin-left: 10%;
}

.main-project .img-project{
   padding:0 10% ;
}


.main-contact-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0% 100%);
    background: linear-gradient(to left,#355C7D,#6C5B7B,#C06C84) ;
  
}

.main-contact-me h1 {
    font-size: 60px;
    margin-bottom: 30%;

} 

.main-contact-me .form-contact{
    
    margin-left: 42.5%;
    
}

.subscribe{
    background: red;
}

.main-footer  {
    display: flex;
    background: #343a40;
    
}

.footer-box{
    display: flex;
    align-items: center;
    margin-left: 41%;
    height: 40vh;
}
.footer-box div{
    padding: 20px;
}


